<md-toolbar style="display: flex;" color="primary">
  <div class="fullwidth">
    <div class="row">
      <h1>Forum Name</h1>
    </div>
  </div>
</md-toolbar>
<md-tab-group>
  <md-tab label="Tab 1">Tab test</md-tab>
  <md-tab label="Tab 2">Different information</md-tab>
</md-tab-group>

<div class="base">
  <md-toolbar color="primary">
    <button md-icon-button>
      <md-icon>more_vert</md-icon>
      </button>
    <span>Users</span>
  </md-toolbar>

  <ngx-datatable class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columns]="columns" [columnMode]="'force'"
    [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'">
  </ngx-datatable>
</div>